@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
}

/*-----------------------------------------HEADER----------------------------------------------------- */
header{
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color 0.4s ease-in-out;
    background-color: #00000000;
    box-shadow: inset 0px -7px 20px 2px rgba(0, 0, 0, 0.1);
}

header.scrolled{
    background-color: rgb(0, 0, 0);
    opacity: 0.98;
}

header .title{
    color: #000000;
    font-size: 2.7em;
    font-weight: 700;
    font-variant-caps: petite-caps;
    text-decoration: none;
    padding-left: 50px;
    position: relative;
    transition: color 0.4s ease-in-out;
}

header.scrolled .title{
    color: #ffffff;
}


header .navigation{
    position: relative;
    right: 0px;
    padding-right: 0px;
}

header .navigation .navitem a{
    color: #000000;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    margin: 10px;
    transition: 0.3s ease;
    padding-right: 20px;
    transition: color 0.4s ease-in-out;
}

header.scrolled .navigation .navitem a{
    color: #ffffff;
}

header .navigation .navitem a:before{
    content: '';
    position: absolute;
    background: #000000;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navitem a:hover:before{
    width: 100%;
}


/*-----------------------------------------SECTION----------------------------------------------------- */
.sec1{
    width: 100%;
    height: 43vh;
    background-color: pink;
    position: relative;
    display: inline-flex;
}

.sec1 h1{
    padding: 0%;
    margin: 0%;
}

.titlee{
    width: 36%;
    margin: 5% 6% 5% 8%;
}

.titlee h1{
    font-size: 40px;
}

.Contact{
    width: 40%;
    margin: 0 5%;
}

.Contact h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
}

.form-control{
    width: 100%;
}

.form-group h5{
    margin: 1%;
}

#btn{
    width: 100%;
    background-color: #e91e63;
    padding: 4px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

/*-----------------------sec2----------------------------*/
.container{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    
}

.grid-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }
  .grid-item {
    flex: 1;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 250px;
  }

.grid-item img{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.grid-item h1{
    margin: 15px 0px;
    font-size: 28px;
}